#myForm{
    background-color: #b9c5d1;
    width: 810px;
    height: 40px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  input{
      border-radius: 4px;
      border: none;
      margin-right: 20px;
      height: 30px;
  }
  input[type=button]{
      width: 80px;
  }
  table {
      width: 850px;
      text-align: center;
      margin-left: 40px;
      
  }

  table thead {
      background-color: rgb(64, 71, 71);
      color: beige;
      
  }

  table>tbody>tr {
      margin: 40px;
      background-color: aliceblue;
      height: 40px;
  }

  #add {
      background-color: #007bff;
      
  }

  .edit {
      background-color: #218838;
      border: none;
      width: 80px;
      height: 30px;
      margin: 2px;
      border-radius: 4px;
  }

  .delete {
      background-color: #dc3545;
      border: none;
      width: 80px;
      margin: 1px;
      height: 30px;
      border-radius: 4px;
  }